docs/*
CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
Testing/
cmake_install.cmake*
build/*
Makefile
.DS_Store*
*.o*
*~
*.vtk
*.orig
*.tar.gz
*.bkp
*.log
*.cc~
*.h~
*.cc#
*.h#
*.tcc~
*.tcc#
*.gcda*
*.gcno*
*coverage.info*
src/*#
include/*#
external/*#
doc/*
*.swp*
lcov/*
mpm
mpmtest
*stats.txt*
aclocal.m4
Makefile.in
configure
Makefile
.deps/*
src/.deps*
src/material/.deps*
tests/.deps*
config.log
config.status
autom4te.cache/*
configure.scan
.DS_Store*
*.dirstamp
*autom4te.cache
*autoscan.log
*autoscan-*.log
*aclocal.m4
*compile
*config.h.in
*configure
*configure.scan
*depcomp
*install-sh
*missing
*stamp-h1
benchmarks/
